<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzPFrqlXLMOuLxs8bedWQs9AY4Q9Pu8dw</string>
	<key>GCM_SENDER_ID</key>
	<string>702871097154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFirebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>chatapp-aa15d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-aa15d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702871097154:ios:3ce0348a7802348de042db</string>
</dict>
</plist>